@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sz1mk4');
  src:  url('fonts/icomoon.eot?sz1mk4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sz1mk4') format('truetype'),
    url('fonts/icomoon.woff?sz1mk4') format('woff'),
    url('fonts/icomoon.svg?sz1mk4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-staff:before {
  content: "\e60e";
}
.icon-logo-lider:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-logo-modo:before {
  content: "\e903";
}
.icon-down:before {
  content: "\e904";
}
.icon-mouse:before {
  content: "\e905";
}
.icon-up:before {
  content: "\e906";
}
.icon-blogger:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-next:before {
  content: "\e90b";
}
.icon-prev:before {
  content: "\e90c";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-location:before {
  content: "\e600";
}
.icon-youtube:before {
  content: "\e601";
}
