.footer__sub-menu--logo
	margin: 0
	img
		max-width: 100%
		height: auto
		width: auto

.footer__wrap
	display: flex
	width: 100%
	align-items: flex-start
	padding: 30px 20px
	max-width: 1240px
	margin: auto
	&.footer_creditos
		padding-top: 0
.footer__general
	background-color: #333132
.footer__logo--item
	padding-bottom: 20px
.footer__general__item--title
	font-size: 12px
	font-family: $t-3
	color: $c-0
	a
		color: $c-0
.footer__general__item--category
	font-size: 14px
	color: #6d6e70
	font-family: $t-2
	a
		color: #6d6e70
	&:last-child
		margin-right: 0
.foter__sub-menu--direccion
	font-size: 10px
	color: white
	margin: 0
	padding-left: 10px
.foter__sub-menu--telf
	font-size: 10px
	color: white
.footer__box
	width: 100%
	padding-top: 0
	display: flex
	margin-left: 0
	align-items: inherit
	justify-content: space-between
.footer__box__item
	width: 30%
.footer__box__item--proyecto
	width: 25%
	display: flex
	align-items: center
	margin: 0
	h3
		color: #6d6e70
		margin: auto
.footer__menu-creditos
	color: #808090
	display: flex
	width: 100%
.footer__menu--items
	width: 100%
	color: $c-0
	font-family: $t-5
	font-size: 12px
	margin-top: 20px
	&:last-child
		text-align: right
	a
		color: $c-0
		padding-left: 12px
.foter__sub-menu--centrado
	text-align: center
	color: white
	width: 50%
.footer__box--redes
	display: flex
	width: 16%
	flex-direction: row
@media screen and (max-width: 960px)
	.footer__box
		flex-direction: column
		align-items: center
		text-align: center
	.footer__box__item
		width: 100%
		flex-direction: initial
		justify-content: center
	.footer__box
		width: 100%
		margin-left: 0
	.footer__box--redes
		display: none
	.footer__menu-creditos
		li
			margin: 0
			text-align: left
			&:last-child
				text-align: right
	.footer__menu--items:last-child
		text-align: center
	.footer__menu--items
		margin-top: 0
	.foter__sub-menu--centrado
		display: none
// footer-landing
.footer__wrap__gral
	max-width: 1200px
	margin: auto
	display: flex
	width: 100%
	padding-top: 40px
	align-items: flex-start
	flex-direction: row
	margin: auto
.footer__imagen__gral
	width: 132px
	img
		max-width: 100%
		height: auto
.footer_content__gral
	background-color: white
.footer_menu__gral
	width: 65%
	li a
		color: #808090
		font-size: 13px 
		transition: all .2s linear
		&:hover
			color: rgba(128, 128, 144, 0.80)


.footer_menu__gral
	display: flex
	margin-left: 0
	margin: 0
	li
		margin-left: 12px
		margin-right: 2px

.footer__iconos__gral
	color: #666666
	display: flex
	width: 10%
	margin-left: 15%

.footer__item-icono__gral
	a
		color: #808090
		transition: all .2s linear
		&:hover
			color: rgba(128, 128, 144, 0.80)

.footer__wrap__gral
	border-top: 1px solid #d7d8db
.footer__menu-creditos__gral
	color: #808090
	display: flex
	width: 100%
.footer_creditos__gral
	border: none

.footer__menu--items__gral
	width: 100%
	font-size: 12px
	margin-top: 20px
	color: $c-0
	&:last-child
		text-align: right
	a
		color: $c-0

.footer__menu--items__gral
	a
		color: #808090
		transition: all .2s linear
.footer_creditos__gral
	width: 100%
.footer_creditos__gral
	padding-top: 23px
	padding-bottom: 30px
.footer__general__item.footer__general__item--title.footer__logo--item
	a
		max-width: 140px
		margin: auto
		display: block
		img
				display: block
				max-width: 100%
				height: auto
.foter__sub-menu.foter__sub-menu--direccion.icon-logo-lider
	color: $c-0
	font-size: 30px
.footer__box--redes
	margin: 0
.footer__box__item--proyecto, .footer__box--redes
	margin-top: 20px
.footer__general__item--category
	i
		font-size: 20px
@media screen and (max-width: 960px)
	.footer__wrap__gral
		flex-direction: column
	.footer__imagen__gral
		width: 150px
		text-align: center
		margin: 0 auto
	.footer_menu__gral
		width: 100%
		margin: inherit
		padding-top: 30px
		li
			margin-left: initial
			margin-right: inherit
	.footer__iconos__gral
		width: 20%
		margin: inherit
		margin-top: 30px
		display: none

	.footer__box__item--proyecto
		margin-top: 0
		display: flex
		flex-wrap: wrap
@media screen and (max-width: 768px)
	.footer_items__gral
		display: none
	.footer__menu-creditos__gral
		flex-direction: column
		text-align center
	.footer__iconos
		margin-top: 0
	.footer__menu--items__gral
		text-align: center
		&:last-child
			text-align: center
	.footer_creditos__gral
		padding-top: 3px
@media screen and (max-width: 640px)
	.footer__menu-creditos
		flex-direction: column
		li
			text-align: center
			&:last-child
				text-align: center
	.footer__wrap
		padding: 20px 15px
@media screen and (max-width: 480px)
	.footer__iconos__gral
		display: none


