
.header__wrap
	position: relative
	height: 80px

.header__fixed
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 80px
	z-index: 1000
	background: $c-0

.header__container
	display: flex
	justify-content: space-between
	align-items: center
	height: 100%

// LEFT 

.header__left
	display: flex
	align-items: center

.header__logo
	display: block
	margin: 0
	max-width: 130px 
	width: 100%
	position: absolute
	left: 45px
	transition: all .24s cubic-bezier(.215,.61,.355,1)
	img
		width: 100%
		height: auto
		display: block
	.header__logo--orange
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden
	.header__logo--yellow 
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden
	.header__logo--black
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden

@media screen and (min-width: 1201px)
	.header__logo 
		left: -140px

	.header__fixed.scrolling 
		.header__logo
			left: 45px	
		.header__container__list
			padding-left: 230px		

.header__container__list
	padding-left: 60px
	transition: all .24s cubic-bezier(.215,.61,.355,1)

.header__list
	.header__item
		display: inline-block
		vertical-align: middle
		margin-right: 10px
		&:last-child
			margin-right: 0

	.header__link
		font-size: 15px
		font-family: $t-0
		position: relative
		float: left
		color: #f2f2f2
		padding: 28px 10px 

	.header__link--show
		display: block	
		position: absolute
		top: 50%
		left: 0
		width: 100%
		text-align: center
		opacity: 0
		transition: all .24s cubic-bezier(.215,.61,.355,1) 65ms

	.header__link--text
		display: block
		transition: all .24s cubic-bezier(.215,.61,.355,1)
	
	.header__link.active 
		color: $c-5
	.header__link:hover
		color: $blanco
		text-decoration: inherit 
		.header__link--text
			transform: translateY(-50%)
			opacity: 0
		.header__link--show
			opacity: 1
			transform: translateY(-50%)


// RIGHT
.header__right
	display: flex
	align-items: center 
	height: 100%

.header__right__info__button
	position: relative	
	z-index: 3

.header__right__info__link
	display: table-cell 
	vertical-align: middle
	height: 80px
	padding: 0 30px 
	box-sizing: border-box
	background: $c-5
	font-size: 15px
	color: $blanco
	text-transform: uppercase

.header__right__info__link:hover 
	color: $blanco 
	text-decoration: inherit

.header__right__info__tel
	display: flex
	align-items: center
	position: relative 
	padding-right: 35px
	span 
		margin: 0
		position: absolute
		top: 5px
		left: 0
		font-size: 15px
	a 
		padding-left: 25px
		font-size: 14px
		font-family: $t-4
		color: $blanco 

.header__right__info__tel a:hover
	color: $blanco 
	text-decoration: inherit

@media screen and (max-width: 1300px)		

	.header__fixed.scrolling .header__logo
		left: 20px	

	.header__fixed.scrolling .header__container__list
		padding-left: 185px	

	.header__container__list
		padding-left: 40px	



// menu responsive
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 250px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 1500
	right: -250px
	transition: all .3s ease-in-out
	padding: 5px 0 20px 0

.menu-sidebar.active
	right: 0

.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out

.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400

.menu-sidebar
	.menu-responsive
		display: block
		margin-top: 20px
	.header__item
		display: block
	.header__link 
		display: block
		padding-left: 30px
		font-size: 14px
		height: 45px
		line-height: 45px
		color: $c-1
		text-decoration: inherit
	.header__logo--orange
		display: none
	.header__logo--yellow
		display: none
	.header__logo--green
		display: none
	.header__right__info__link
		display: block
		height: 50px
		line-height: 50px
		padding: 0 20px 
		margin-top: 30px
		text-align: center

	

.menu-sidebar
	.header__link.active 
		background: $c-0
		color: $blanco 


.responsive-logo
	display: block
	width: 60%
	margin: auto
	margin-top: 20px
	img 
		display: block
		width: 100%
		height: auto
	.header-logo-desktop
		display: none
	.header-logo-scroll
		display: block
	


.menu-mobile-close, .menu-mobile-open
	background: $c-5
	border-radius: 7%
	color: $blanco
	cursor: pointer
	font-size: 23px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 10px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
	display: none

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 1200

.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 1000
	transform: rotate(-90deg)

.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 1000
	background: $c-0
	color: $blanco

.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 260px
	z-index: 1500
	transform: rotate(-90deg)

body.active
	overflow: hidden

@media screen and (max-width: 1200px)	
	.header__container__list
		display: none	

	.header__right
		display: none	

	.header__logo
		left: 20px

	.menu-mobile-close, .menu-mobile-open
		display: block

	.header__link--show
		display: none


@media screen and (max-width: 1024px)	
	.header__logo
		max-width: 100px

	.header__logo--black
		opacity: 1
		visibility: visible


	.header__fixed
		height: 60px

	.header__wrap
		height: 60px
		
		