section.footer
		.footer__general
			.footer__wrap
				.footer__box
					ul.footer__box__item.footer__box__item--proyecto
						li.foter__sub-menu.footer__sub-menu--logo
							h3 Un proyecto de:
						li.foter__sub-menu.foter__sub-menu--direccion.icon-logo-lider
					ul.footer__box__item.foter__sub-menu--centrado
						li.footer__general__item.footer__general__item--title.footer__logo--item
							a(href="") 
								img(src="/assets/img/logo.png")
						li.footer__general__item.footer__general__item--category
							a(href="mailto:youremailaddress")
								| Correo: osanchez@lider.com.pe 
						li.footer__general__item.footer__general__item--category
							a(href="tel:974 630 765")
								| Telf : 974 630 765
						li.footer__general__item.footer__general__item--category
							a(href="") 
								| Av. Universitaria esquina con av. Tulipanes Urb.Pando – San Miguel
					ul.footer__box__item.footer__box--redes
						li.footer__general__item.footer__general__item--title
							a(href="")
								| Siguenos en:
						li.footer__general__item.footer__general__item--category
							a(href="")
								i.icon-blogger
						li.footer__general__item.footer__general__item--category
							a(href="")
								i.icon-facebook

			.footer__wrap.footer_creditos
				ul.footer__menu-creditos
					li.footer__menu--items  © 2017  MODO. Todos los derechos reservados.
					li.footer__menu--items Diseño páginas web
						a(href="") StaffDigital