.header__wrap
	.header__fixed
		.header--bg
		.header__container
			.header__left
				a(href="#slider", data-url="/", data-title="Modo | Inicio").header__logo.miclase
					img.header__logo--green(src=`${STATIC_URL}img/header-logo-green.svg`, alt="")
					img.header__logo--orange(src=`${STATIC_URL}img/header-logo-orange.svg`, alt="")
					img.header__logo--yellow(src=`${STATIC_URL}img/header-logo-yellow.svg`, alt="")
					img.header__logo--black(src=`${STATIC_URL}img/header-logo-black.svg`, alt="")
				.header__container__list
					ul.header__list
						li.header__item
							a.header__link.miclase.menu_a1.h-link-ancla(href="#descripcion", data-url="/descripcion", data-title="Modo | ¿Qué es?")
								span.header__link--text ¿Qué es?
								span.header__link--show ¿Qué es?
						li.header__item
							a.header__link.miclase.menu_a2.h-link-ancla(href="#inversion", data-url="/inversion", data-title="Modo | ¿Cómo Funciona?")
								span.header__link--text ¿Cómo funciona?
								span.header__link--show ¿Cómo funciona?
						li.header__item
							a.header__link.miclase.menu_a3.h-link-ancla(href="#beneficios", data-url="/beneficios", data-title="Modo | Beneficios")
								span.header__link--text Beneficios
								span.header__link--show Beneficios
						li.header__item
							a.header__link.miclase.menu_a4.h-link-ancla(href="#proyectos", data-url="/proyectos", data-title="Modo | Proyectos")
								span.header__link--text Tu Inversión
								span.header__link--show Tu Inversión
						li.header__item
							a.header__link.miclase.menu_a5.h-link-ancla(href="#respaldo", data-url="/respaldo", data-title="Modo | Respaldo")
								span.header__link--text Respaldo
								span.header__link--show Respaldo
						li.header__item
							a.header__link.miclase.menu_a6.h-link-ancla(href="#contacto", data-url="/contacto", data-title="Modo | 	Contacto")
								span.header__link--text Contacto
								span.header__link--show Contacto
			.header__right
				.header__right__info__tel
					a(href="tel:974630765") 974 630 765
						span.icon-phone
				.header__right__info__button
					a.header__right__info__link.miclase(href="#contacto") Invierte Ahora

				


//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt