extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.beneficios
		.beneficios__wrap
			.beneficios__box
				.beneficios__item.beneficios__item__circulo
					.beneficion__circulo(style=`background-image: url('${STATIC_URL}img/circulo-detalle.png');`)
						.beneficios__texto
							h2 +100%
							h3 
								strong Varias formas de ingreso, 
								| una sola inversión

				.beneficios__item.beneficios__item__text
					.beneficio__title__ingresos
						h3 Beneficios
						h2 Más ingresos 
							br
							|menos preocupaciones
						p Todos los ingresos van a una bolsa común que luego es repartida entre los inversionistas deacuerdo a la cantidad de metros cuadrados adquiridos.
						.beneficios__icon__boxes
							.beneficios__icon__item
								.beneficios__icon__content
									img(src=`${STATIC_URL}img/icono-edificio.png`, width="65", height="50", alt="")
								.beneficios__icon__text
									h3 Innovador
									p Mayor valor de la propiedad y optimizando la rentabilidad.
							.beneficios__icon__item
								.beneficios__icon__content
									img(src=`${STATIC_URL}img/icono-billete.png`, width="65", height="50", alt="")
								.beneficios__icon__text
									h3 Innovador
									p Mayor valor de la propiedad y optimizando la rentabilidad.
							.beneficios__icon__item
								.beneficios__icon__content
									img(src=`${STATIC_URL}img/icono-map.png`, width="65", height="50", alt="")
								.beneficios__icon__text
									h3 Innovador
									p Mayor valor de la propiedad y optimizando la rentabilidad.
							.beneficios__icon__item
								.beneficios__icon__content
									img(src=`${STATIC_URL}img/icono-luz.png`, width="65", height="50", alt="")
								.beneficios__icon__text
									h3 Innovador
									p Mayor valor de la propiedad y optimizando la rentabilidad.




//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})