extends ./_common/base.pug

block content
	section.contacto
			.contacto__row
				.contacto__visitanos
					.contacto__visitanos__title
						span Blog
						h2 ¡Visítanos!
					.contacto__visitanos__items
						.contacto__visitanos__item
							.contacto__item__img
								img(src="../assets/img/zona_de_parrillas.png")
							.contacto__item__text
								span 12/04/17
								p Lider Inmobiliaria: Cómo cuidar tus muebles de cuero durante el verano
						.contacto__visitanos__item
							.contacto__item__img
								img(src="../assets/img/zona_de_parrillas.png")
							.contacto__item__text
								span 12/04/17
								p Cómo convertir un departamento alquilado en un lugar acogedor
						.contacto__visitanos__item
							.contacto__item__img
								img(src="../assets/img/zona_de_parrillas.png")
							.contacto__item__text
								span 12/04/17
								p Cómo convertir un departamento alquilado en un lugar acogedor
				.contacto__escribenos
					.contacto__escribenos__text
						h2 Escríbenos y nos contactaremos
						p Si deseas realizar alguna consulta, sugerencia o duda,  escríbenos y te responderemos en el más breve plazo.
					.contacto__escribenos__form
						ul
							li
								.contacto__escribenos__input
									input(type="text", name="nombre_apellido", placeholder="Nombres y Apellidos", class='validate[required]')
							li
								.contacto__escribenos__inputs
									.contacto__escribenos__input.contacto__escribenos__input--left
										input(type="text", name="", placeholder="Email", class='validate[required]')
									.contacto__escribenos__input.contacto__escribenos__input--right
										input(type="text", name="telefono", placeholder="Teléfono", class='validate[required] soloNumber')
							li
								.contacto__escribenos__select
									select
										option(value="") Suite dormitorio
										option(value="") Suite dormitorio
										option(value="") Suite dormitorio
							li
								.contacto__escribenos__input
									textarea(name="mensaje", placeholder="Mensaje", class='validate[required]')
					.contacto__escribenos__button
						button.btn.contacto__button( type='submit', value="Enviar") Enviar
				