extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'off__header__footer'
//- ---

//- Contenido
block content
	.description.description--padding
		.description__content.description__content--flex
			article.description__column.description__column--left
				.description__items
					.description__item
						figure.description__img.description__img--animation(style=`background-image: url('${STATIC_URL}img/description__img--1.jpg');`)
					.description__item
						figure.description__img.description__img--animation(style=`background-image: url('${STATIC_URL}img/description__img--2.jpg');`)
					.description__item
						figure.description__img.description__img--animation(style=`background-image: url('${STATIC_URL}img/description__img--3.jpg');`)
			article.description__column.description__column--right
				.description__textarea
					.description__title
						h2 SOMOS <strong>Un nuevo <br>modo de invertir</strong>
					.description__text
						p.
							La primera residencia estudiantil del Perú, ubicada a un espacio estratégico contiguo a la Ponti cia Universidad Católica del Perú. Un desarrollo inmobiliario enfocado a cubrir la necesidad de renta de los universitarios, con oferta de departamentos que busca absorber el 7% de esta demanda existente.
						p.
							Es un nuevo desarrollo de inversión inteligente que ofrece la oportunidad de comprar una propiedad para renta dirigida a un público cautivo.
					.description__button
						a(href="") VER UBICACIÓN
//- js
append scripts 
	script(src=`${STATIC_URL}js/jquery-kitssu.min.js`)
	script.
		$(()=>{
			//- +++ description +++
			if($(window).innerWidth() > 1024){
				$('.description__img--animation').kitssu({
					background: "#000000",
					speed: 800,
				});
			}
			//- --- end ---
		})