extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'off__header__footer'
//- ---

//- Contenido
block content
	.efecto__texto
		figure#dt-images(data-images=`${STATIC_URL}img/efect__texto__img--1.jpg,${STATIC_URL}img/efect__texto__img--2.jpg,${STATIC_URL}img/efect__texto__img--3.jpg,${STATIC_URL}img/efect__texto__img--4.jpg`, style=`background-image: url('');`) IMAGENES
	.efecto__texto
		figure#dt-images(data-images=`${STATIC_URL}img/efect__texto__img--1.jpg,${STATIC_URL}img/efect__texto__img--2.jpg,${STATIC_URL}img/efect__texto__img--3.jpg,${STATIC_URL}img/efect__texto__img--4.jpg`, style=`background-image: url('');`) PROBANDO

//- js
append scripts 
	script.
		$(()=>{
			$('.efecto__texto').each(function(index, el) {
				var images = $(el).find('#dt-images').data('images').split(',');
				var count = 0;
				var tiempo = 150;
				setInterval(function(){
					if (count<images.length-1) {
						 count++
					}else{
						 count=0
					};

					$(el).find('#dt-images').css({
						 backgroundImage: 'url('+images[count]+')'
					});
				}, tiempo)
			});
		})