extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-fb-comment-box.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-transitions.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.home__slider__wrap#slider
		.home__slider__circle.home__slider__circle--one
		.home__slider__circle.home__slider__circle--two
		.home__slider
			.home__slider__container
				a(href="#descripcion").home__slider__scroll.miclase
					.home__slider__scroll__text Scroll Down
					.home__slider__scroll__mouse
						.home__slider__scroll__group__one
							span.home__slider__scroll__arrow--one.icon-up
							span.home__slider__scroll__arrow--two.icon-up
							span.home__slider__scroll__arrow--three.icon-up
						.home__slider__scroll__icon.icon-mouse
				.home__slider__block
					ul.home__slider--pitcher
						li
							.home__slider__inside__container
								.home__slider__direction
									.home__slider__item
										.home__slider__text.home__slider__text--left
											h2 Un Nuevo
										.home__slider__img
											img(src=`${STATIC_URL}img/home-slider-img.jpg`, alt="")
											span.home__slider__mask(style=`background: #64B445;`)
											img.home__slider__text__letter(src=`${STATIC_URL}img/modo_mascara2.png`, alt="")
										.home__slider__text.home__slider__text--right
											h2 de invertir, un nuevo 
												strong(style=`color: #64B445;`) moDO
												|  de vivir.
						li
							.home__slider__inside__container
								.home__slider__direction
									.home__slider__item
										.home__slider__text.home__slider__text--left
											h2 Un Nuevo
										.home__slider__img
											img(src=`${STATIC_URL}img/home-slider-img.jpg`, alt="")
											span.home__slider__mask(style=`background: #f45b05;`)
											img.home__slider__text__letter(src=`${STATIC_URL}img/modo_mascara2.png`, alt="")
										.home__slider__text.home__slider__text--right
											h2 de invertir, un nuevo 
												strong(style=`color: #f45b05;`) moDO
												|  de vivir.
						li
							.home__slider__inside__container
								.home__slider__direction
									.home__slider__item
										.home__slider__text.home__slider__text--left
											h2 Un Nuevo
										.home__slider__img
											img(src=`${STATIC_URL}img/home-slider-img.jpg`, alt="")
											span.home__slider__mask(style=`background: #E2C329;`)
											img.home__slider__text__letter(src=`${STATIC_URL}img/modo_mascara2.png`, alt="")
										.home__slider__text.home__slider__text--right
											h2 de invertir, un nuevo 
												strong(style=`color: #E2C329;`) moDO
												|  de vivir.
		.home__slider__scroll__bottom
			a(href="#descripcion").home__slider__scroll__botom__icon.icon-down.miclase

	.description.description--padding#descripcion
		.description__content.description__content--flex
			article.description__column.description__column--left
				.description__items
					.description__item
						figure.description__img.description__img--animation(style=`background-image: url('${STATIC_URL}img/description__img--1.jpg');`)
					.description__item
						figure.description__img.description__img--animation(style=`background-image: url('${STATIC_URL}img/description__img--2.jpg');`)
					.description__item
						figure.description__img.description__img--animation(style=`background-image: url('${STATIC_URL}img/description__img--3.jpg');`)
			article.description__column.description__column--right
				.description__textarea
					.description__title
						h2 SOMOS <strong>Un nuevo <br>modo de invertir</strong>
					.description__text
						p.
							La primera residencia estudiantil del Perú, ubicada a un espacio estratégico contiguo a la Ponti cia Universidad Católica del Perú. Un desarrollo inmobiliario enfocado a cubrir la necesidad de renta de los universitarios, con oferta de departamentos que busca absorber el 7% de esta demanda existente.
						p.
							Es un nuevo desarrollo de inversión inteligente que ofrece la oportunidad de comprar una propiedad para renta dirigida a un público cautivo.
					.description__button
						a(href="") VER UBICACIÓN

	section.inversion#inversion
		.inversion__wrap
			.inversion__title-grnal
				h3 ¿CÓMO FUNCIONA?
				h2 Una sola inversión,
				h2 varias formas de ingresos
			.inversion__box
				.inversion__box__slider
					.inversion__item.inversion__item__up.inversion__item--inversion
						.inversion__icono
							img(src=`${STATIC_URL}img/inversion-inversion.png`, width="103", height="103", )
						.inversion__texto
							p Tienes un dinero que quieres invertir
						span.inversion__numero-uno
							img(src=`${STATIC_URL}img/inversion-numero.jpg`, width="38", height="38", )
				.inversion__box__slider
						.inversion__item.inversion__item__down.inversion__item--propiedad
							.inversion__icono
								img(src=`${STATIC_URL}img/inversion-propiedades.png`, width="105", height="83", )
							.inversion__texto
								p En MoDO compras un departamento con título de propiedad que incluye un porcentaje de participación de los locales comerciales y establecimientos.
							span.inversion__numero-dos
								img(src=`${STATIC_URL}img/inversion-numero2.jpg`, width="38", height="38", )
				.inversion__box__slider
					.inversion__item.inversion__item__down
						.inversion__icono
							img(src=`${STATIC_URL}img/inversion-persona.png`, width="103", height="103", )
						.inversion__texto
							h3 La inversión se
				.inversion__box__slider
					.inversion__item.inversion__item__down.inversion__item--house
						.inversion__icono
							img(src=`${STATIC_URL}img/inversion-operador.png`, width="119", height="122", )
						.inversion__texto
							p El operador se encargará de generar y gestionar los ingresos del edificiio que provienen del alquiler de las habilitaciones, los 3 locales comerciales, 58 estacionamientos e ingresos extra.
						span.inversion__numero-tres
							img(src=`${STATIC_URL}img/inversion-numero3.jpg`, width="38", height="38", )
				.inversion__box__slider
					.inversion__item.inversion__item--socios
						.inversion__icono
							img(src=`${STATIC_URL}img/inversion-ingreso.png`, width="152", height="108", )
						.inversion__texto
							p El operador se encargará de generar y gestionar los ingresos del edificiio que provienen del alquiler de las habilitaciones, los 3 locales comerciales, 58 estacionamientos e ingresos extra.
						span.inversion__numero-cuatro
							img(src=`${STATIC_URL}img/inversion-numero4.jpg`, width="38", height="38", )
	
	section.beneficios#beneficios
		.beneficios__wrap
			.beneficios__box
				.beneficios__item.beneficios__item__circulo
					.beneficion__circulo(style=`background-image: url('${STATIC_URL}img/circulo-detalle.png');`)
						.beneficios__texto
							h2 +100%
							h3 
								strong Varias formas de ingreso, 
								| una sola inversión

				.beneficios__item.beneficios__item__text
					.beneficio__title__ingresos
						h3 Beneficios
						h2 Más ingresos 
							br
							|menos preocupaciones
						p Todos los ingresos van a una bolsa común que luego es repartida entre los inversionistas deacuerdo a la cantidad de metros cuadrados adquiridos.
						.beneficios__icon__boxes
							.beneficios__icon__item
								.beneficios__icon__content
									img(src=`${STATIC_URL}img/icono-edificio.png`, width="65", height="50", alt="")
								.beneficios__icon__text
									h3 Innovador
									p Mayor valor de la propiedad y optimizando la rentabilidad.
							.beneficios__icon__item
								.beneficios__icon__content
									img(src=`${STATIC_URL}img/icono-billete.png`, width="65", height="50", alt="")
								.beneficios__icon__text
									h3 Innovador
									p Mayor valor de la propiedad y optimizando la rentabilidad.
							.beneficios__icon__item
								.beneficios__icon__content
									img(src=`${STATIC_URL}img/icono-map.png`, width="65", height="50", alt="")
								.beneficios__icon__text
									h3 Innovador
									p Mayor valor de la propiedad y optimizando la rentabilidad.
							.beneficios__icon__item
								.beneficios__icon__content
									img(src=`${STATIC_URL}img/icono-luz.png`, width="65", height="50", alt="")
								.beneficios__icon__text
									h3 Innovador
									p Mayor valor de la propiedad y optimizando la rentabilidad.
	
	section#proyectos
		section.proyectos
			.proyectos__content
				.proyectos__title__tabs
					span Proyecto
					h2 Una vista completa de tu inversión
					.proyectos__tabs__button
						span(data-id="tab_1", class="tab--display") Interiores
						span(data-id="tab_2", class="tab--display") Áreas comunes
				.proyectos__tabs__container
					#tab_1.proyectos__items__box.proyectos__items__box--slider.proyectos__fancy
						-for (var i = 1; i <= 6; i++)
							.proyectos__item
								a.proyectos__img.proyectos__img--animation(href=`${STATIC_URL}img/proyectos_modo.jpg` style=`background-image: url('${STATIC_URL}img/proyectos_modo.jpg')`)
									.proyectos__hover
										.proyectos_icon_hover
											.icon__hover.icon-search
								
					#tab_2.proyectos__items__box.proyectos__items__box--slider.proyectos__fancy
						-for (var i = 1; i <= 6; i++)
							.proyectos__item
								a.proyectos__img.description__img--animation(href=`${STATIC_URL}img/description__img--3.jpg` style=`background-image: url('${STATIC_URL}img/description__img--3.jpg')`)
									.proyectos__hover
										.proyectos_icon_hover
											.icon__hover.icon-search

	.ctn__planos 
		.ctn__planos__title + Ingresos
		.ctn__planos__prin 
			.ctn__planos__inversion 
				.ctn__planos__inversion__bg
					.ctn__planos__inversion__prin 
						h3 Tu Inversión
						h4 Mira las cifras de tu inversión
						.ctn__planos_inversion__room
							.ctn__text Número de dormitorios
							.ctn__select
								select
									option 01
									option 2
									option 300
						.ctn__planos__costos
							ul
								li Ingresos mensuales
								li S/ 1,500
							ul
								li Ingresos anuales
								li S/ 15,334
				.ctn__planos__parraf
					p Aviso Legal* ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt sem eget nibh euismod, ullamcorper ultricies ex hendrerit. Nunc maximus faucibus cursus. 
			.ctn__planos__slider 
				ul.slider__planos
					-for (var i = 0; i < 3; i++)
						li
							.slider__planos__prin
								figure
									a(href="assets/img/plano.jpg", data-fancybox="images").fancybox
										img(src=`${STATIC_URL}img/plano.jpg`, alt="")
								.ctn__planos__slider__detaills
									.ctn__planos__slider__detaills__sec
										h4 Suite 1 Dorm.
										p Área Total: 34.73m2 aprox.
									.ctn__planos__slider__detaills__btn
										a(href="").btn__prev.icon-prev
										a(href="").btn__next.icon-next
	.ctn__respaldo 
		.ctn__respaldo__top 
			.ctn__respaldo__top__one
				.ctn__respaldo__top__title
					h3 Respaldo
					h4 Lideres en cada proyecto
				.ctn__respaldo__img
					figure 
						img(src=`${STATIC_URL}img/respaldo-img-1.jpg`, alt="")
					.ctn__respaldo__text
						.ctn__direccion Breña
						.ctn__distrito Santiago de Surco
			.ctn__respaldo__top__dos
				.ctn__respaldo__img
					figure 
						img(src=`${STATIC_URL}img/respaldo-img-2.jpg`, alt="")
					.ctn__respaldo__text
						.ctn__direccion Breña
						.ctn__distrito Santiago de Surco
			.ctn__respaldo__top__tres
				.ctn__respaldo__img
					figure 
						img(src=`${STATIC_URL}img/respaldo-img-3.jpg`, alt="")
					.ctn__respaldo__text
						.ctn__direccion Breña
						.ctn__distrito Santiago de Surco
				.ctn__respaldo__parraf
					p Empresa formada por la familia Wiese, ha labrado un camino de 15años, en ese trayecto desarrollado más de 815 mil m2 de proyectos en Lima y Arequipa, además de encargarse de mega proyectos como el C.C Megaplaza y la construcción y comercialización de uno de los primeros edificios de oficinas prime en Perú. Con una facturación acumulada aproximada de 464 millones de dólares que respaldan nuestra experiencia en proyectos exitosos de gran rentabilidad.
		.ctn__respaldo__bottom 
			.ctn__respaldo__top__cuatro 
				.ctn__respaldo__cuatro__bloque 
					.icon-logo-lider
					.ctn__detaiils__bloque
						.ctn__detaiils__bloque__white 15 años 
						.ctn__detaiils__bloque__orange de trayectoria
					.ctn__detaiils__bloque
						.ctn__detaiils__bloque__white 815 000 m2
						.ctn__detaiils__bloque__orange de experiencia
			.ctn__respaldo__top__cinco
				.ctn__respaldo__img
					figure 
						img(src=`${STATIC_URL}img/respaldo-img-4.jpg`, alt="")
					.ctn__respaldo__text
						.ctn__direccion Breña
						.ctn__distrito Santiago de Surco

	section.contacto#contacto
		.contacto__row
			.contacto__visitanos
				.contacto__visitanos__title
					span Blog
					h2 ¡Visítanos!
				.contacto__visitanos__items
					.contacto__visitanos__item
						.contacto__item__img
							img(src="../assets/img/zona_de_parrillas.png")
						.contacto__item__text
							span 12/04/17
							p Lider Inmobiliaria: Cómo cuidar tus muebles de cuero durante el verano
					.contacto__visitanos__item
						.contacto__item__img
							img(src="../assets/img/zona_de_parrillas.png")
						.contacto__item__text
							span 12/04/17
							p Cómo convertir un departamento alquilado en un lugar acogedor
					.contacto__visitanos__item
						.contacto__item__img
							img(src="../assets/img/zona_de_parrillas.png")
						.contacto__item__text
							span 12/04/17
							p Cómo convertir un departamento alquilado en un lugar acogedor
			.contacto__escribenos
				.contacto__escribenos__text
					h2 Escríbenos y nos contactaremos
					p Si deseas realizar alguna consulta, sugerencia o duda,  escríbenos y te responderemos en el más breve plazo.
				.contacto__escribenos__form
					ul
						li
							.contacto__escribenos__input
								input(type="text", name="nombre_apellido", placeholder="Nombres y Apellidos", class='validate[required]')
						li
							.contacto__escribenos__inputs
								.contacto__escribenos__input.contacto__escribenos__input--left
									input(type="text", name="", placeholder="Email", class='validate[required]')
								.contacto__escribenos__input.contacto__escribenos__input--right
									input(type="text", name="telefono", placeholder="Teléfono", class='validate[required] soloNumber')
						li
							.contacto__escribenos__select
								select
									option(value="") Suite dormitorio
									option(value="") Suite dormitorio
									option(value="") Suite dormitorio
						li
							.contacto__escribenos__input
								textarea(name="mensaje", placeholder="Mensaje", class='validate[required]')
				.contacto__escribenos__button
					button.btn.contacto__button( type='submit', value="Enviar") Enviar

//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script(src=`${STATIC_URL}js/jquery-kitssu.min.js`)
	script(src=`${STATIC_URL}js/fancybox/jquery.fancybox.min.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script.
		$(()=>{

			/**** SLIDER PRINCIPAL ****/
			$('.home__slider--pitcher').bxSlider({
				mode: 'fade',
				controls:false,
				pager:true,
				adaptiveHeight:true,
				auto:true,
				pause: 5000,
				onSliderLoad: function(currentIndex) {
					$('.home__slider--pitcher').children().eq(currentIndex).addClass('active')
				},
				onSlideBefore: function($slideElement){
					$('.home__slider--pitcher').children().removeClass('active');
					setTimeout( function(){
						$slideElement.addClass('active');
					},500);
				}
			});


			/**** DESCRIPCION- animacion ****/
			if($(window).innerWidth() > 1024){
				$('.description__img--animation').kitssu({
					background: "#000000",
					speed: 800,
				});
			}
			
			/**** INVERSION - slider ****/
			if($(window).width() <= 1024){
				console.log("dsdsad")
				$('.inversion__box').slick({
					nextArrow: '',
					prevArrow: '',
					infinite: true,
					dots: true,
					nav: false,
					autoplay: true,
					speed: 500,
					slidesToShow: 1
				});
			}


			/**** PROYECTOS ****/
			//- //- agrupando creando divs
			//- var divs = $('.proyectos__item');

			//- for(var i = 0; i < divs.length; i+=2) {
			//- 	divs.slice(i, i+2).wrapAll('<div class="two"></div>');
			//- }

			//- efecto imágenes
			if($(window).innerWidth() > 1024){
				$('.proyectos__img--animation').kitssu({
					background: "#000000",
					speed: 300,
				});
			}

			//- fancy img		
			$('.proyectos__fancy').lightGallery({
				selector: 'a',
				thumbnail: false
			});

			var width = $(window).innerWidth();
			if (width > 768) {
				//- agrupando creando divs
				var divs = $('.proyectos__item');

				for(var i = 0; i < divs.length; i+=2) {
					divs.slice(i, i+2).wrapAll('<div class="two"></div>');
				}
			}
			else{
				setTimeout(function(){ 
					$('.proyectos__items__box').each(function(i,el){
						i=i+1;
						$(this).slick({
							arrows: false,
							dots: false,
							infinite: true,
							autoplay: true,
							slidesToShow: 2,
							slidesScroll: 2,
							responsive: [
								{
									breakpoint: 481,
									settings: {
										slidesToShow: 1,
										slidesScroll: 1,
										infinite: true,
										dots: false
									}
								},
							]
						});
					});
				}, 3000);
				
			};

			//- Tab
			$('.tab--display').each((k,ele)=>{
				!k ? $(ele).addClass('active') : k
				!k ? $('.proyectos__items__box').eq(0).addClass('active') : k
				$(ele).click((e)=>{
					e.preventDefault()
					$(ele).hasClass('active') ?  false : tabChange($(ele))
				})
			})

			const tabChange = (item)=>{
				item.parent().find('span').removeClass('active').eq(item.index()).addClass('active')
				$('.proyectos__items__box').removeClass('active').eq(item.index()).addClass('active')
			}
			//- $('.tab--display:first-child').addClass("active");
			//- $('.proyectos__items__box:first-child').addClass("active");
			//- $('.tab--display').click(function(e) {
			//- 	e.preventDefault();
			//- 	$('.tab--display').removeClass('active');
			//- 	$(this).addClass('active');
			//- 	var data = $(this).attr('data-id');
			//- 	$('.proyectos__items__box').removeClass('active');
			//- 	$('.proyectos__items__box[id="'+data+'"]').addClass('active');
			//- });

			//-planos

			$('.slider__planos').slick({
				dots: false,
				infinite: false,
				speed: 500,
				fade: true,
				arrows: false,
				cssEase: 'linear'
			});

			$('.btn__prev').click(function(){
				event.preventDefault();
				$('.slider__planos').slick('slickPrev');;
			});

			$('.btn__next').click(function(){
				event.preventDefault();
				$('.slider__planos').slick('slickNext');
			});

			$('[data-fancybox]').fancybox({
				protect: true
			}); 
		});
			

