extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido  
block content
	section.inversion
		.inversion__wrap
			.inversion__title-grnal
				h3 ¿CÓMO FUNCIONA?
				h2 Una sola inversión,
				h2 varias formas de ingresos
			.inversion__box
				.inversion__box__slider
					.inversion__item.inversion__item__up.inversion__item--inversion
						.inversion__icono
							img(src=`${STATIC_URL}img/inversion-inversion.png`, width="103", height="103", )
						.inversion__texto
							p Tienes un dinero que quieres invertir
						span.inversion__numero-uno
							img(src=`${STATIC_URL}img/inversion-numero.jpg`, width="38", height="38", )
				.inversion__box__slider
						.inversion__item.inversion__item__down.inversion__item--propiedad
							.inversion__icono
								img(src=`${STATIC_URL}img/inversion-propiedades.png`, width="105", height="83", )
							.inversion__texto
								p En MoDO compras un departamento con título de propiedad que incluye un porcentaje de participación de los locales comerciales y establecimientos.
							span.inversion__numero-dos
								img(src=`${STATIC_URL}img/inversion-numero2.jpg`, width="38", height="38", )
				.inversion__box__slider
					.inversion__item.inversion__item__down
						.inversion__icono
							img(src=`${STATIC_URL}img/inversion-persona.png`, width="103", height="103", )
						.inversion__texto
							h3 La inversión se
				.inversion__box__slider
					.inversion__item.inversion__item__down.inversion__item--house
						.inversion__icono
							img(src=`${STATIC_URL}img/inversion-operador.png`, width="119", height="122", )
						.inversion__texto
							p El operador se encargará de generar y gestionar los ingresos del edificiio que provienen del alquiler de las habilitaciones, los 3 locales comerciales, 58 estacionamientos e ingresos extra.
						span.inversion__numero-tres
							img(src=`${STATIC_URL}img/inversion-numero3.jpg`, width="38", height="38", )
				.inversion__box__slider
					.inversion__item.inversion__item--socios
						.inversion__icono
							img(src=`${STATIC_URL}img/inversion-ingreso.png`, width="152", height="108", )
						.inversion__texto
							p El operador se encargará de generar y gestionar los ingresos del edificiio que provienen del alquiler de las habilitaciones, los 3 locales comerciales, 58 estacionamientos e ingresos extra.
						span.inversion__numero-cuatro
							img(src=`${STATIC_URL}img/inversion-numero4.jpg`, width="38", height="38", )
	section.beneficios
		.beneficios__wrap
			.beneficios__box
				.beneficios__item.beneficios__item__circulo
					.beneficion__circulo(style=`background-image: url('${STATIC_URL}img/circulo-detalle.png');`)
						.beneficios__texto
							h2 +100%
							h3 
								strong Varias formas de ingreso, 
								| una sola inversión

				.beneficios__item.beneficios__item__text
					.beneficio__title__ingresos
						h3 Beneficios
						h2 Más ingresos 
							br
							|menos preocupaciones
						p Todos los ingresos van a una bolsa común que luego es repartida entre los inversionistas deacuerdo a la cantidad de metros cuadrados adquiridos.
						.beneficios__icon__boxes
							.beneficios__icon__item
								.beneficios__icon__content
									img(src=`${STATIC_URL}img/icono-edificio.png`, width="65", height="50", alt="")
								.beneficios__icon__text
									h3 Innovador
									p Mayor valor de la propiedad y optimizando la rentabilidad.
							.beneficios__icon__item
								.beneficios__icon__content
									img(src=`${STATIC_URL}img/icono-billete.png`, width="65", height="50", alt="")
								.beneficios__icon__text
									h3 Innovador
									p Mayor valor de la propiedad y optimizando la rentabilidad.
							.beneficios__icon__item
								.beneficios__icon__content
									img(src=`${STATIC_URL}img/icono-map.png`, width="65", height="50", alt="")
								.beneficios__icon__text
									h3 Innovador
									p Mayor valor de la propiedad y optimizando la rentabilidad.
							.beneficios__icon__item
								.beneficios__icon__content
									img(src=`${STATIC_URL}img/icono-luz.png`, width="65", height="50", alt="")
								.beneficios__icon__text
									h3 Innovador
									p Mayor valor de la propiedad y optimizando la rentabilidad.




//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			if($(window).width() <= 1024){
				console.log("dsdsad")
				$('.inversion__box').slick({
					nextArrow: '',
					prevArrow: '',
					infinite: true,
					dots: true,
					nav: false,
					autoplay: true,
					speed: 500,
					slidesToShow: 1
				});
			}
			
			
		})