extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	a(href='#modal1') Light-box 1
		#modal1.modal
			a.modal-bg(href='#')
			.modal-container
			section.mapcontacto
				.cnt-map
					.abrir-map Abrir mapa
					.box-map
						#google-maplima.map
						.btn-azul.cerrar-map cerrar mapa	
	




//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(function() {
				$('.contc-info').eq(0).addClass('active');
				$('.contact-tabs a').click(function(e) {
					e.preventDefault();
					$('.contact-tabs a').removeClass('active');
					$(this).addClass('active');
					var dataTab = $(this).attr('data-tab');
					$('.contc-info').removeClass('active');
					$('.contc-info[id="'+dataTab+'"]').addClass('active');
				});

				function initMap() {
					var $map = $( '#google-maplima' );
					if ( ! $map.length ) return;
					var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
					var styles = [
								    {
								        "featureType": "all",
								        "elementType": "labels.text.fill",
								        "stylers": [
								            {
								                "saturation": 36
								            },
								            {
								                "color": "#000000"
								            },
								            {
								                "lightness": 40
								            }
								        ]
								    },
								    {
								        "featureType": "all",
								        "elementType": "labels.text.stroke",
								        "stylers": [
								            {
								                "visibility": "on"
								            },
								            {
								                "color": "#000000"
								            },
								            {
								                "lightness": 16
								            }
								        ]
								    },
								    {
								        "featureType": "all",
								        "elementType": "labels.icon",
								        "stylers": [
								            {
								                "visibility": "off"
								            }
								        ]
								    },
								    {
								        "featureType": "administrative",
								        "elementType": "geometry.fill",
								        "stylers": [
								            {
								                "color": "#000000"
								            },
								            {
								                "lightness": 20
								            }
								        ]
								    },
								    {
								        "featureType": "administrative",
								        "elementType": "geometry.stroke",
								        "stylers": [
								            {
								                "color": "#000000"
								            },
								            {
								                "lightness": 17
								            },
								            {
								                "weight": 1.2
								            }
								        ]
								    },
								    {
								        "featureType": "landscape",
								        "elementType": "geometry",
								        "stylers": [
								            {
								                "color": "#000000"
								            },
								            {
								                "lightness": 20
								            }
								        ]
								    },
								    {
								        "featureType": "poi",
								        "elementType": "geometry",
								        "stylers": [
								            {
								                "color": "#000000"
								            },
								            {
								                "lightness": 21
								            }
								        ]
								    },
								    {
								        "featureType": "road.highway",
								        "elementType": "geometry.fill",
								        "stylers": [
								            {
								                "color": "#000000"
								            },
								            {
								                "lightness": 17
								            }
								        ]
								    },
								    {
								        "featureType": "road.highway",
								        "elementType": "geometry.stroke",
								        "stylers": [
								            {
								                "color": "#000000"
								            },
								            {
								                "lightness": 29
								            },
								            {
								                "weight": 0.2
								            }
								        ]
								    },
								    {
								        "featureType": "road.arterial",
								        "elementType": "geometry",
								        "stylers": [
								            {
								                "color": "#000000"
								            },
								            {
								                "lightness": 18
								            }
								        ]
								    },
								    {
								        "featureType": "road.local",
								        "elementType": "geometry",
								        "stylers": [
								            {
								                "color": "#000000"
								            },
								            {
								                "lightness": 16
								            }
								        ]
								    },
								    {
								        "featureType": "transit",
								        "elementType": "geometry",
								        "stylers": [
								            {
								                "color": "#000000"
								            },
								            {
								                "lightness": 19
								            }
								        ]
								    },
								    {
								        "featureType": "water",
								        "elementType": "geometry",
								        "stylers": [
								            {
								                "color": "#000000"
								            },
								            {
								                "lightness": 17
								            }
								        ]
								    }
								]
					var mapOptions = {
						zoom             : 15,
						center           : myLatlng,
						mapTypeControl   : true,
						disableDefaultUI : true,
						zoomControl      : true,
						scrollwheel      : false,
						styles           : styles,
						draggable        : true
					}
					var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

					var marker = new google.maps.Marker({
						position: myLatlng,
						map: map,
						icon:"../assets/img/marker.png"
					});
				}
				google.maps.event.addDomListener(window, 'load', initMap),
				$(".cnt-map .abrir-map").click(function(event) {
					$(".box-map").addClass('anima-map');
				});
				$(".cnt-map .cerrar-map").click(function(event) {
					$(".box-map").removeClass('anima-map');
				});
			});