extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'off__header__footer'
//- ---

//- Contenido
block content
	.patron
		.patron__items
			-for (var i = 1; i <= 6; i++)
				.patron__item.clase__b
//- 		.patron__items
//- 			-for (var i = 1; i <= 6; i++)
//- 				.patron__item.clase__b
//- //- js
		-for (var x = 1; x <= 2; x++)
			.patron__items
				-for (var i = 1; i <= 6; i++)
					.patron__item
						h2 item
//- js
append scripts 
	script.
		$(()=>{
			//- agrupando creando divs
			var divs = $('.patron__item');

			for(var i = 0; i < divs.length; i+=2) {
				divs.slice(i, i+2).wrapAll('<div class="two"></div>');
			}

			//- $('.patron__items:nth-child(odd)').each(function(indvex, el) {
			//- 	if (index == 0) {
			//- 		$(this).find('.patron__item:nth-child(1), .patron__item:nth-child(2)').addClass('clase__a').removeClass('clase__b');
			//- 	}
			//- 	var divs_1 = $(this).find('.clase__a');
			//- 	for(var i = 0; i < divs_1.length; i+=2) {
			//- 		divs_1.slice(i, i+2).wrapAll('<div class="two"></div>');
			//- 	}
			//- 	var divs_2 = $(this).find('.clase__b');
			//- 	for(var i = 0; i < divs_2.length; i+=2) {
			//- 		divs_2.slice(i, i+2).wrapAll('<div class="two"></div>');
			//- 	}
			//- 	var divs_2 = $(this).find('.clase__c');
			//- 	for(var i = 0; i < divs_2.length; i+=2) {
			//- 		divs_2.slice(i, i+2).wrapAll('<div class="two"></div>');
			//- 	}				
			//- });

			//- $('.patron__items:nth-child(even)').each(function(index, el) {
			//- $('.patron__items:nth-child(odd)').each(function(index, el) {
			//- 	if (index == 0) {
			//- 		$(this).find('.patron__item:nth-child(1), .patron__item:nth-child(2)').addClass('clase__a').removeClass('clase__b');
			//- 	}
			//- 	var divs_1 = $(this).find('.clase__a');
			//- 	for(var i = 0; i < divs_1.length; i+=2) {
			//- 		divs_1.slice(i, i+2).wrapAll('<div class="two"></div>');
			//- 	}
			//- 	var divs_2 = $(this).find('.clase__b');
			//- 	for(var i = 0; i < divs_2.length; i+=4) {
			//- 		divs_2.slice(i, i+4).wrapAll('<div class="four"></div>');
			//- 	}				
			//- });			
			//- });

			//- $('.patron__items:nth-child(even)').each(function(index, el) {
			//- 	if (index == 0) {
			//- 		$(this).find('.patron__item:nth-child(1), .patron__item:nth-child(2)').addClass('clase__a').removeClass('clase__b');
			//- 	}
			//- 	var divs_1 = $(this).find('.clase__a');
			//- 	for(var i = 0; i < divs_1.length; i+=2) {
			//- 		divs_1.slice(i, i+2).wrapAll('<div class="two"></div>');
			//- 	}
			//- 	var divs_2 = $(this).find('.clase__b');
			//- 	for(var i = 0; i < divs_2.length; i+=4) {
			//- 		divs_2.slice(i, i+4).wrapAll('<div class="four"></div>');
			//- 	}				
			//- });
			//- *end*
		})