extends ./_common/base.pug

append css
  link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
  link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
  link(rel="stylesheet", href=`${STATIC_URL}js/fancybox/jquery.fancybox.css`)
block content
  .ctn__planos 
    .ctn__planos__title + Ingresos
    .ctn__planos__prin 
      .ctn__planos__inversion 
        .ctn__planos__inversion__bg
          .ctn__planos__inversion__prin 
            h3 Tu Inversión
            h4 Mira las cifras de tu inversión
            .ctn__planos_inversion__room
              .ctn__text Número de dormitorios
              .ctn__select
                select
                  option 01
                  option 2
                  option 300
            .ctn__planos__costos
              ul
                li Ingresos mensuales
                li S/ 1,500
              ul
                li Ingresos anuales
                li S/ 15,334
        .ctn__planos__parraf
          p Aviso Legal* ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt sem eget nibh euismod, ullamcorper ultricies ex hendrerit. Nunc maximus faucibus cursus. 
      .ctn__planos__slider 
        ul.slider__planos
          -for (var i = 0; i < 3; i++)
            li
              .slider__planos__prin
                figure
                  a(href="assets/img/plano.jpg", data-fancybox="images").fancybox
                    img(src=`${STATIC_URL}img/plano.jpg`, alt="")
                .ctn__planos__slider__detaills
                  .ctn__planos__slider__detaills__sec
                    h4 Suite 1 Dorm.
                    p Área Total: 34.73m2 aprox.
                  .ctn__planos__slider__detaills__btn
                    a(href="").btn__prev.icon-prev
                    a(href="").btn__next.icon-next
  .ctn__respaldo 
    .ctn__respaldo__top 
      .ctn__respaldo__top__one
        .ctn__respaldo__top__title
          h3 Respaldo
          h4 Lideres en cada proyecto
        .ctn__respaldo__img
          figure 
            img(src=`${STATIC_URL}img/respaldo-img-1.jpg`, alt="")
          .ctn__respaldo__text
            .ctn__direccion Breña
            .ctn__distrito Santiago de Surco
      .ctn__respaldo__top__dos
        .ctn__respaldo__img
          figure 
            img(src=`${STATIC_URL}img/respaldo-img-2.jpg`, alt="")
          .ctn__respaldo__text
            .ctn__direccion Breña
            .ctn__distrito Santiago de Surco
      .ctn__respaldo__top__tres
        .ctn__respaldo__img
          figure 
            img(src=`${STATIC_URL}img/respaldo-img-3.jpg`, alt="")
          .ctn__respaldo__text
            .ctn__direccion Breña
            .ctn__distrito Santiago de Surco
        .ctn__respaldo__parraf
          p Empresa formada por la familia Wiese, ha labrado un camino de 15años, en ese trayecto desarrollado más de 815 mil m2 de proyectos en Lima y Arequipa, además de encargarse de mega proyectos como el C.C Megaplaza y la construcción y comercialización de uno de los primeros edificios de oficinas prime en Perú. Con una facturación acumulada aproximada de 464 millones de dólares que respaldan nuestra experiencia en proyectos exitosos de gran rentabilidad.
    .ctn__respaldo__bottom 
      .ctn__respaldo__top__cuatro 
        .ctn__respaldo__cuatro__bloque 
          .icon-logo-lider
          .ctn__detaiils__bloque
            .ctn__detaiils__bloque__white 15 años 
            .ctn__detaiils__bloque__orange de trayectoria
          .ctn__detaiils__bloque
            .ctn__detaiils__bloque__white 815 000 m2
            .ctn__detaiils__bloque__orange de experiencia
      .ctn__respaldo__top__cinco
        .ctn__respaldo__img
          figure 
            img(src=`${STATIC_URL}img/respaldo-img-4.jpg`, alt="")
          .ctn__respaldo__text
            .ctn__direccion Breña
            .ctn__distrito Santiago de Surco

      
append scripts 
  script(src=`${STATIC_URL}js/slick/slick.min.js`)
  script(src=`${STATIC_URL}js/fancybox/jquery.fancybox.min.js`)
  script.
    $(()=>{
      $('.slider__planos').slick({
        dots: false,
        infinite: false,
        speed: 500,
        fade: true,
        arrows: false,
        cssEase: 'linear'
      });

      $('.btn__prev').click(function(){
        event.preventDefault();
        $('.slider__planos').slick('slickPrev');;
      });

      $('.btn__next').click(function(){
        event.preventDefault();
        $('.slider__planos').slick('slickNext');
      });

      $('[data-fancybox]').fancybox({
        protect: true
      });
    })