extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-fb-comment-box.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-transitions.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	

block content
	section.proyectos
		.proyectos__content
			.proyectos__title__tabs
				span Proyecto
				h2 Una vista completa de tu inversión
				.proyectos__tabs__button
					span(data-id="tab_1", class="tab--display") Interiores
					span(data-id="tab_2", class="tab--display") Áreas comunes
			.proyectos__tabs__container
				#tab_1.proyectos__items__box.proyectos__items__box--slider.proyectos__fancy
					-for (var i = 1; i <= 6; i++)
						.proyectos__item
							a.proyectos__img.proyectos__img--animation(href=`${STATIC_URL}img/proyectos_modo.jpg` style=`background-image: url('${STATIC_URL}img/proyectos_modo.jpg')`)
								.proyectos__hover
									.proyectos_icon_hover
										.icon__hover.icon-search
							
				#tab_2.proyectos__items__box.proyectos__items__box--slider.proyectos__fancy
					-for (var i = 1; i <= 6; i++)
						.proyectos__item
							a.proyectos__img.description__img--animation(href=`${STATIC_URL}img/description__img--3.jpg` style=`background-image: url('${STATIC_URL}img/description__img--3.jpg')`)
								.proyectos__hover
									.proyectos_icon_hover
										.icon__hover.icon-search



append scripts 
	script(src=`${STATIC_URL}js/jquery-kitssu.min.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-fullscreen.js`)
	//- script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			//- //- agrupando creando divs
			//- var divs = $('.proyectos__item');

			//- for(var i = 0; i < divs.length; i+=2) {
			//- 	divs.slice(i, i+2).wrapAll('<div class="two"></div>');
			//- }

			//- efecto imágenes
			if($(window).innerWidth() > 1024){
				$('.proyectos__img--animation').kitssu({
					background: "#000000",
					speed: 300,
				});
			}

			//- fancy img		
			$('.proyectos__fancy').lightGallery({
				selector: 'a'
			});

			var width = $(window).innerWidth();
			if (width > 767) {
				//- agrupando creando divs
				var divs = $('.proyectos__item');

				for(var i = 0; i < divs.length; i+=2) {
					divs.slice(i, i+2).wrapAll('<div class="two"></div>');
				}
			}
			else{
				$('.proyectos__items__box').each(function(i,el){
					i=i+1;
					$(this).slick({
						arrows: false,
						dots: false,
						infinite: true,
						autoplay: true,
						slidesToShow: 2,
						slidesScroll: 2,
						responsive: [
							{
								breakpoint: 481,
								settings: {
									slidesToShow: 1,
									slidesScroll: 1,
									infinite: true,
									dots: false
								}
							},
						]
					});
				});
			};

			//- Tab
			$('.tab--display:first-child').addClass("active");
			$('.proyectos__items__box:first-child').addClass("active");
			$('.tab--display').click(function(e) {
				e.preventDefault();
				$('.tab--display').removeClass('active');
				$(this).addClass('active');
				var data = $(this).attr('data-id');
				$('.proyectos__items__box').removeClass('active');
				$('.proyectos__items__box[id="'+data+'"]').addClass('active');
			});
		});
		
