.beneficios
	padding-top: 100px
	padding-bottom: 100px
	padding-left: 5px
	padding-right: 5px
	position: relative
	overflow: hidden	
	&:before
		content: ""
		width: 617px
		height: 617px
		position: absolute
		right: -302px
		bottom: 0
		z-index: -1
		border-radius: 50%
		background-color: white
		border: 1px solid #f2f2f2
.beneficios__wrap
	max-width: 1160px
	margin: auto

.beneficion__circulo
	background-size: cover
	width: 424px
	border-radius: 50%
	height: 424px
	background-position-x: center
	background-repeat: repeat
	position: relative
	&:before
		content: ""
		position: absolute
		width: 424px
		border-radius: 50%
		height: 424px
		left: 0
		background-color: rgba(244, 91, 5, 0.80)
.beneficio__title__ingresos
	h3
		font-size: 15px
		color: #f45b05
	h2
		font-size: 36px
		color: #333132
	p
		font-size: 14px
		color: #6d6e70

.beneficios__box
	display: flex
	padding: 10px
	flex-direction: row
	align-items: center
.beneficios__item__text
	width: 60%
	margin-left: 62px
.beneficios__item__circulo
	width: 40%
.beneficios__texto
	display: flex
	position: relative
	z-index: 1
	flex-direction: column
	justify-content: center
	height: 420px
	align-items: center
	color: white
	h2
		font-size: 76px
	h3
		font-size: 25px
		color: white
		max-width: 363px

.beneficio__title
	h3
		font-size: 36px
	p
		font-size: 14px
.beneficios__icon__boxes
	display: flex
	flex-wrap: wrap
	.beneficios__icon__text
		h3
			color: #f45b05
.beneficios__icon__item
	display: flex
	width: 50%
	flex-direction: row
	display: flex
	padding-top: 20px
.beneficios__icon__text
	padding-left: 3%
	h3
		font-size: 13px
		position: relative
		&:before
			content: ""
			position: absolute
			width: 15%
			height: 2px
			background-color: #f45b05
			left: 0
			bottom: -3px

@media screen and (max-width: 991px)
	.beneficion__circulo
		width: 344px
		height: 344px
		&:before
			width: 344px
			height: 344px
	.beneficios__texto
		height: 360px
		h2
			font-size: 50px
		h3
			font-size: 13px
	.beneficio__title__ingresos
		h2
			font-size: 23px
@media screen and (max-width: 767px)
	.beneficios__box
		flex-direction: column
	.beneficios__item__text
		order: -1
	.beneficios__item__text
		width: 100%
		order: -1
		margin-left: 0
	.beneficios__item__circulo
		width: 50%
@media screen and (max-width: 767px)
	.beneficios__item__circulo
		display: none
	.beneficios	
		&:before
			content: none
@media screen and (max-width: 480px)
	.beneficios__icon__item
		width: 100%
	.beneficios
		padding-top: 20px
		padding-bottom: 20px
		&:before
		content: none


	

