.contacto__row
	max-width: 1240px
	width: 100%
	margin: auto
	display: flex
	flex-direction: row-reverse
	flex-wrap: wrap
	justify-content: flex-start
	padding: 50px 20px
.contacto__escribenos
	width: 40%
	margin-right: auto
	margin-left: 0
	position: relative
	&:before
		content: ''
		position: absolute
		right: -80px
		top: 0
		width: 1px
		height: 95%
		background: $c-8
.contacto__escribenos__text
	h2
		font-size: 36px
		font-family: $t-1
		color: $c-1
		margin-bottom: 0
	p
		font-size: 16px
		font-family: $t-2
		color: $c-1
		margin-bottom: 0
		padding: 40px 0px
.contacto__escribenos__input
	width: 100%
	padding-bottom: 25px
	+placeholder($c-5,$t-0)
	input, textarea
		width: 100%
		height: 45px
		font-family: $t-2
		font-size: 16px
		color: $c-0
		padding: 10px
		// background: none
		border: none
		border-bottom: 1px solid $c-0
.contacto__escribenos__inputs
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
.contacto__escribenos__input--left
	width: 50%
	padding-right: 20px
.contacto__escribenos__input--right
	width: 50%
	padding-left: 20px
.contacto__escribenos__select
	width: 100%
	padding-bottom: 35px
	position: relative
	&:before
		content: '\e904'
		position: absolute
		right: 12px
		font-size: 6px
		font-family: $icomoon
		line-height: 7
	select
		width: 100%
		height: 45px
		font-family: $t-0
		font-size: 16px
		color: $c-1
		padding: 10px
		background: none
		border: none
		border-bottom: 1px solid $c-0
		appearance: none
.contacto__escribenos__button
	padding-top: 30px
.contacto__button
	padding: 13px 40px
	border-radius: 20px
	color: $blanco
	background-color: $c-1
	text-transform: uppercase
	font-family: $t-5
	font-size: 13px

.contacto__visitanos
	width: 40%
	margin-top: 0
	margin-left: auto
	margin-right: auto
.contacto__visitanos__title
	span
		text-transform: uppercase
		color: $c-2
		font-size: 15px
		font-family: $t-6
	h2
		font-size: 36px
		font-family: $t-1
		color: $c-1
		margin-bottom: 0
.contacto__visitanos__items
	padding: 50px 0px
.contacto__visitanos__item
	padding-bottom: 50px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
.contacto__item__img
	width: 85px
	height: 85px
	overflow: hidden
	border-radius: 100%
	margin: auto
	img
		width: 100%
		height: auto
.contacto__item__text
	width: 80%
	padding-left: 20px
	margin: auto
	span
		font-family: $t-2
		color: $c-2
		font-size: 18px
	p
		font-family: $t-2
		color: $c-1
		font-size: 23px
		margin-bottom: 0
		padding-top: 8px

@media screen and (max-width: 1120px)
	.contacto__escribenos
		width: 45%
	.contacto__visitanos
		width: 45%
	.contacto__item__text
		width: 75%
		p
			font-size: 16px
	.contacto__escribenos
		&:before
			right: -35px
@media screen and (max-width: 830px)
	.contacto__escribenos__text
		h2
			font-size: 30px
		p
			font-size: 14px
	.contacto__escribenos__input
		input, textarea
			font-size: 14px
	.contacto__escribenos
		&:before
			right: -24px
	.contacto__visitanos__title
		h2
			font-size: 30px
	.contacto__item__img
		width: 80px
		height: 80px
	.contacto__item__text
		width: 67%
		span
			font-size: 16px
		p
			font-size: 14px
@media screen and (max-width: 720px)
	.contacto__escribenos
		width: 100%
		&:before
			display: none
	.contacto__visitanos
		width: 100%
@media screen and (max-width: 480px)
	.contacto__escribenos__input--left
		width: 100%
		padding-right: 0
	.contacto__escribenos__input--right
		width: 100%
		padding-left: 0
@media screen and (max-width)