.off__header__footer
	header,
	footer,
	nav
		display: none
.description--padding
	padding-left: 65px
	padding-right: 65px
	padding-bottom: 115px
.description__content
	max-width: 1200px
	width: 100%
	margin: auto
.description__content--flex
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
.description__column
	margin: 0
.description__column--left
	width: 57.5%
.description__column--right
	width: 42.5%
.description__items
	min-height: 508px
	position: relative
	box-sizing: border-box
	padding-top: 85px
	margin: 0
.description__item
	position: relative
.description__item:nth-child(1)
	width: 50.7%
	height: 458px
	position: absolute
	top: 0
	left: 0
	&:before
		content: "" 
		display: block	
		width: 136px
		height: 147px
		background: $c-6
		position: absolute
		left: -50px
		bottom: -50px
		z-index: 1
.description__item:nth-child(2)
	width: 46.1%
	height: 280px
	margin-left: auto
	margin-right: 0
	margin-bottom: 20px
	&:before
		content: ""
		display: block
		width: 211px
		height: 228px
		background: $c-4
		position: absolute
		top: -65px
		right: -125px
		z-index: 1
.description__item:nth-child(3)
	width: 46.1%
	height: 224px
	box-sizing: border-box
	padding-right: 10.7%
	margin-left: auto
	margin-right: 0
.description__img
	width: 100%
	height: 100%
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	position: relative
	z-index: 2
	margin: 0
.description__textarea
	position: relative
	z-index: 2
	box-sizing: border-box
	padding-top: 160px
	padding-left: 55px
.description__title
	margin-bottom: 25px
	h2
		color: $c-2
		font-family: $t-3
		font-weight: normal
		font-size: 15px
		margin-bottom: 0
	strong
		display: block
		color: $c-1
		font-family: $t-1
		font-weight: normal
		font-size: 36px
		margin-top: 10px
.description__text
	line-height: 1.4
	color: $c-0
	font-family: $t-2
	font-size: 14px
	p
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0
.description__button
	margin-top: 70px

// responsive
@media screen and (max-width: 1024px)
	.description--padding
		padding-left: 45px
		padding-right: 45px
		padding-bottom: 50px
	.description__column--left
		width: 53%
	.description__column--right
		width: 47%
	.description__items
		min-height: 380px
		padding-top: 50px
	.description__item:nth-child(1)
		height: 350px
		&:before
			width: 96px
			height: 107px
			left: -30px
			bottom: -30px
	.description__item:nth-child(2)
		height: 200px
		&:before
			width: 161px
			height: 160px
			top: -30px
			right: -100px
	.description__item:nth-child(3)
		height: 160px
	.description__textarea
		padding-top: 100px
		padding-left: 40px
	.description__title
		margin-bottom: 15px
		h2
			font-size: 14px
		strong
			font-size: 30px
	.description__text
		font-size: 13px

@media screen and (max-width: 960px)
	.description--padding
		padding-left: 15px
		padding-right: 15px
	.description__item:nth-child(1)
		&:before
			display: none

@media screen and (max-width: 767px)
	.description--padding
		padding-bottom: 30px
	.description__content--flex
		flex-direction: column-reverse
		justify-content: center
	.description__column--left,
	.description__column--right
		width: 100%
	.description__items
		min-height: 380px
		padding-top: 0
	.description__item
		box-sizing: border-box
	.description__item:nth-child(1)
		width: 50%
		height: 100%
		padding-left: 5px
		padding-right: 5px
	.description__item:nth-child(2)
		width: 50%
		height: 190px
		padding-left: 5px
		padding-right: 5px
		padding-bottom: 5px
		margin-bottom: 0
		&:before
			display: none
	.description__item:nth-child(3)
		width: 50%
		height: 190px
		padding-left: 5px
		padding-top: 5px
		padding-right: 5px
	.description__textarea
		max-width: 500px
		width: 100%
		text-align: center
		padding: 0
		margin-left: auto
		margin-right: auto
		margin-bottom: 30px
	.description__button
		margin-top: 50px

@media screen and (max-width: 480px)
	.description__item:nth-child(1),
	.description__item:nth-child(2),
	.description__item:nth-child(3)
		width: 100%
		padding: 0
		margin-bottom: 10px
	.description__item:nth-child(1)
		height: 320px
		position: static
	.description__item:nth-child(2)
		height: 160px
	.description__item:nth-child(3)
		height: 160px
		margin-bottom: 0