.efecto__texto
	margin-bottom: 50px
	figure
		color: transparent
		background-size: cover
		font-family: $t-4
		font-size: 125px
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		transition: all .03s linear