/* slider modo*/

.home__slider__wrap
	position: relative
	overflow: hidden
	padding: 7% 0 5% 0
	display: table-cell
	vertical-align: middle
	width: 2000px
	.bx-wrapper .bx-pager
		position: absolute
		top: 50%
		left: -70px
		bottom: inherit
		transform: translateY(-50%)
	.bx-wrapper .bx-pager .bx-pager-item
		display: block
	.bx-wrapper .bx-pager.bx-default-pager a
		width: 11px
		height: 11px
		background: transparent
		border: 1px solid $c-2
		border-radius: 100%
		margin: 10px 0
		transition: all .2s ease-in-out
		opacity: .7
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active
		transform: scale(1.35)
		border: 3px solid $c-2
		opacity: 1


.home__slider
	position: relative
	overflow: hidden

// home slider circles
.home__slider__circle
	position: absolute
	border: 1px solid #E6E6E6
	background: transparent
	border-radius: 100%
	pointer-events: none

.home__slider__circle--one
	width: 308px	
	height: 308px	
	top: -200px	
	left: -400px
	right: 0	
	margin: auto	

.home__slider__circle--two
	width: 440px	
	height: 440px	
	top: 0	
	right: -175px	

.home__slider__container
	max-width: 1200px
	margin: auto	
	width: 100%	
	box-sizing: border-box
	position: relative

.home__slider__block
	padding: 0 80px
	box-sizing: border-box
		
.home__slider__bg
	position: relative
	width: 100%	
	background-position: center center
	background-size: cover	
	background-repeat: 	no-repeat
	height: 300px	
	
.home__slider__text__letter
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	display: block

// .home__slider__bg
// 	color: transparent
// 	font-size: 300px
// 	line-height: 300px
// 	-webkit-background-clip: text
// 	-webkit-text-fill-color: transparent
// 	font-family: $t-4

.home__slider__img
	position: relative
	img 
		width: 100%
		height: auto
		display: block

.home__slider__mask
	position: absolute
	top: 0	
	left: 0	
	width: 100%	
	height: 100%	
	background-size: cover	
	display: block
	opacity: .5	

.home__slider__text
	h2
		font-family: $t-1
		color: $c-1
		margin: 0	

	&.home__slider__text--right
		text-align: right	
		padding-top: 25px
		h2
			font-size: 36px
	&.home__slider__text--left
		text-align: left 
		padding-bottom: 25px
		h2
			font-size: 40px

// scroll 

.home__slider__scroll
	position: absolute
	top: 50%	
	right: -60px
	text-decoration: inherit 
	color: $c-1	

.home__slider__scroll:hover
	text-decoration: inherit
	color: $c-1

.home__slider__scroll__text
	display: block
	transform: rotate(-90deg)
	font-size: 12px
	color: $c-1
	font-family: $t-6
	padding-left: 75px

.home__slider__scroll__mouse
	text-align: center

.home__slider__scroll__group__one
	display: flex
	flex-direction: column
	span 
		margin: 0
		display: block
		padding: 4px 0
		
.home__slider__scroll__arrow--one
	font-size: 5px

.home__slider__scroll__arrow--two
	font-size: 4px

.home__slider__scroll__arrow--three
	font-size: 3px

.home__slider__scroll__icon
	padding-top: 10px
	display: block
	font-size: 22px
	
//scroll bottom

.home__slider__scroll__bottom
	position: relative
	bottom: 0
	left: 0
	right: 0
	margin: auto
	text-align: center
	padding-top: 2%
	
.home__slider__scroll__botom__icon
	font-size: 15px
	color: $c-2
	display: inline-block
	margin: 0

.home__slider__scroll__botom__icon:hover
	text-decoration: inherit
	color: $c-2


@media screen and (max-width: 1200px)
	.home__slider__scroll
		right: -45px

	.home__slider__wrap .bx-wrapper .bx-pager
		left: -30px

	.home__slider__block
		padding: 0 50px

@media screen and (max-width: 1024px)
	.home__slider__wrap
		padding: 7% 0 10% 0

@media screen and (max-width: 960px)
	.home__slider__wrap .bx-wrapper .bx-pager
		display: none

	.home__slider__scroll
		display: none

	.home__slider__block
		padding: 0

	.home__slider__container
		padding: 0 15px
	
	.home__slider__circle--two
		display: none

	.home__slider__circle--one
		display: none

@media screen and (max-width: 768px)	
	.home__slider__text.home__slider__text--left h2
		font-size: 30px

	.home__slider__text.home__slider__text--right h2
		font-size: 25px
		
	.home__slider__wrap
		padding: 12% 0 12% 0

	.home__slider__scroll__bottom
		padding-top: 7%