.inversion
	background-color: #f9f9f9
	padding: 10px
	position: relative
	&:before
		content: ""
		width: 617px
		height: 617px
		position: absolute
		left: -210px
		bottom: -180px
		z-index: 0
		border-radius: 50%
		background-color: transparent
		border: 1px solid #e6e6e6
	.slick-dots
		display: flex
		max-width: 200px
		li
			font-size: 0
		button
			border: none
			border: 1px solid #f45b05
			height: 13px
			background-color: transparent
			width: 13px
			border-radius: 50%
		.slick-active
			background-color: #f45b05
			border: none
			height: 13px
			width: 13px
			border-radius: 50%
.inversion__icono
	img
		max-width: 100%
		height: auto
.inversion__wrap
	max-width: 1305px
	margin: auto
	padding-bottom: 45px
.inversion__box
	display: flex
	margin-top: -82px
	text-align: center
.inversion__title-grnal
	text-align: center
	padding-top: 48px
	h3
		font-size: 15px
		font-family: $t-3
		color: $c-2
	h2
		font-size: 36px
		font-family: $t-1
.inversion__item
	width: 100%
.inversion__item__down
	margin-top: 230px	
.inversion__item--inversion
	position: relative
	&:before
		content: ""
		position: absolute
		right: -49%
		top: 71px
		width: 125px
		height: 85px
		background: url(../img/linea-detalle1.png) no-repeat
.inversion__numero-uno
	position: absolute
	right: 0
	top: 0
	bottom: 0
	height: 450px
.inversion__item--propiedad
		position: relative
		&:before
			content: ""
			position: absolute
			right: -65px
			top: 31px
			width: 125px
			height: 85px
			background: url(../img/linea-detalle2.png) no-repeat
.inversion__numero-dos
		position: absolute
		top: -40px
.inversion__numero-tres
	position: absolute
	top: -30px
	right: 60px

.inversion__item--house
		position: relative
		&:before
			content: ""
			position: absolute
			left:  -58px
			top: 31px
			width: 125px
			height: 85px
			background: url(../img/linea-detalle3.png) no-repeat
.inversion__numero-cuatro
	position: absolute
	left: 14px
	top: 0
	bottom: 0
	height: 410px
.inversion__box__slider
	width: 50%
	display: flex
	flex-wrap: wrap
	&:last-child
		width: 60%
		.inversion__item
			width: 100%
.inversion__texto
	p, h3
		font-size: 14px
		text-align: center
		max-width: 185px
		margin: auto
		color: #6d6e70
		font-family: $t-0
.inversion__item--socios
		position: relative
		&:before
				content: ""
				position: absolute
				left: -64px	
				top: 94px
				width: 125px
				height: 85px
				background: url(../img/linea-detalle4.png) no-repeat
@media screen and (max-width: 1068px)
	.inversion__item--inversion:before
		content: none
	.inversion__item--propiedad:before
		content: none
	.inversion__item--house:before
		content: none
	.inversion__item--socios:before
		content: none

@media screen and (max-width: 1024px)
	.inversion 
		.slick-dots
			justify-content: center 

		.slick-dots li button:before
			display: none

		.slick-dots
			left: 0
			right: 0
			margin: auto

	.inversion
		&:before
			content: none
	.inversion__item__down
		margin-top: 0
	.inversion__box
		margin-top: 0px
	.inversion__title-grnal
		h2
			font-size: 25px
	.inversion__numero-uno
		left: 0
		height: 0
		top: -130px
		margin: auto
		right: 320px
		bottom: 0
	.inversion__numero-dos
		left: 0
		height: 0
		top: -130px
		margin: auto
		right: 380px
		bottom: 0
	.inversion__numero-tres
		left: 0
		height: 0
		top: -130px
		margin: auto
		right: 420px
		bottom: 0
	.inversion__numero-cuatro
		left: 0
		height: 0
		top: -130px
		margin: auto
		right: 450px
		bottom: 0
	.inversion__box
		display: block
	.inversion__box__slider
		&:last-child
			width: 60%
	.inversion__item__down
		display: inline-block
		vertical-align: middle
		vertical-align: top
	.inversion__item
		display: flex
		justify-content: center
		display: flex
		margin: auto
		border-radius: 6px 
		min-height: 259px
		margin-top: 35px;
		align-items: center
		width: 100%
	.inversion__texto p
		text-align: left
		max-width: 295px
	.inversion__box__slider:last-child .inversion__item
		width: 70%
@media screen and (max-width: 650px)
	.inversion__item
		width: 100%
	.inversion__box__slider:last-child .inversion__item
		width: 100%	
@media screen and (max-width: 570px)
	.inversion__item
		width: 100%
		padding: 5px
	.inversion__box__slider:last-child .inversion__item
		width: 100%	
@media screen and (max-width: 480px)
	.inversion__item
		width: 100%
		flex-direction: column
		margin-top: 60px		
	.inversion__box__slider:last-child .inversion__item
			width: 100%	
	.inversion__texto p
		text-align: center
	.inversion__numero-uno
		left: 0
		height: 0
		top: -300px
		margin: auto
		right: 0
		bottom: 0
	.inversion__numero-dos
		left: 0
		height: 0
		top: -300px
		margin: auto
		right: 0
		bottom: 0
	.inversion__numero-tres
		left: 0
		height: 0
		top: -300px
		margin: auto
		right: 0
		bottom: 0
	.inversion__numero-cuatro
		left: 0
		height: 0
		top: -340px
		margin: auto
		right: 0
		bottom: 0
	.inversion__texto
		padding-top: 20px
		padding-bottom: 20px
	.inversion__icono
		padding-top: 25px
