.mapcontacto
	a
		color: inherit
		&:focus
			outline: none
	.cnt-map
		text-align: center
		.box-map
			width: 100%
			height: 820px
			position: relative
			transition: all .5s
		.map
			width: 100%
			height: 100%
		.abrir-map, .cerrar-map
			display: inline-block
			height: 35px
			line-height: 35px
			cursor: pointer
			background: c-1
			color: blanco
			font-family: t-2
			border-radius: 5px
			padding: 0 30px
			display: none
			&:hover
				background: c-1
		.cerrar-map
			position: absolute
			left: 10px
			bottom: 30px
			z-index: 100

.modal-container
	position: fixed
	background-color: #fff
	width: 70%
	max-width: 400px
	left: 50%
	padding: 20px
	border-radius: 5px
	transform: translate(-50%, -200%)
	transition: transform 300ms ease-out
.modal:target .modal-container 
	transform: translate(-50%, 0)
.modal-bg:before 
	content: ""
	position: fixed
	opacity: 0
	background-color: rgba(0, 0, 0, .8)
	top: 0
	left: 0
	height: 100%
	width: 100%
	z-index: -10
	transition: opacity 200ms ease-out
.modal:target .modal-bg:before 
	opacity: 1
	z-index: 0
