.patron
	background: #f2f2f2
.patron__items
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	margin-bottom: 50px
	.two:nth-child(1)
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-end
		width: 100%
		background: red
		box-sizing: border-box
		padding-left: 40%
		.patron__item:nth-child(1), .patron__item:nth-child(2)
			width: 50%
		.patron__item:nth-child(1)
			background: green
		.patron__item:nth-child(2)
			background: gray
	.two:nth-child(2), .two:nth-child(3)
		width: 50%
	.two:nth-child(2), .two:nth-child(3)
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between 
		background: blue
		.patron__item:nth-child(1), .patron__item:nth-child(2)
			width: 40%		
		.patron__item:nth-child(1)
			background: $c-3
		.patron__item:nth-child(2)
			background: $c-5		
	.two:nth-child(3)
		background: orange


.patron__item
	display: inline-block
	vertical-align: top
	width: 100px
	height: 200px
	background: $c-1
