.proyectos__content
	max-width: 1240px
	width: 100%
	margin: auto
	padding: 50px 20px
	position: relative
	min-height: 330px
.proyectos__content__tabs
	position: relative
.proyectos__title__tabs
	position: absolute
	width: 32%
	top: 10%
	left: 4%
	z-index: 10
	span
		font-family: $t-6
		font-size: 15px
		color: $c-2
		text-transform: uppercase
		cursor: pointer
	h2
		font-family: $t-1
		font-size: 36px
		color: $c-1
		margin-bottom: 0
		padding-bottom: 20px
.proyectos__tabs__button
	span
		background-color: $blanco
		font-size: 20px
		font-family: $t-2
		border: none
		color: $c-1
		padding: 12px 0px
		position: relative
		margin: 0px 15px
		&:hover:before, &.active:before
			content: ''
			position: absolute
			width: 100%
			height: 4px
			bottom: 0
			left: 0
			background-color: $c-2
			
#proyectos__tab2
	display: none

// imagenes

.proyectos__items__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	margin-bottom: 50px
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	&.active
		position: relative
		opacity: 1
		visibility: visible

	.two:nth-child(1)
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-end
		width: 100%
		box-sizing: border-box
		padding-left: 25%
		.proyectos__item:nth-child(1)
			width: 48%
			.proyectos__img
				padding-bottom: 80%
			
		.proyectos__item:nth-child(2)
			width: 33%
			margin-top: auto
			margin-bottom: -30px
			position: relative
			z-index: 1
			.proyectos__img
				padding-bottom: 110%
			&:before
				content: "" 
				display: block	
				width: 206px
				height: 157px
				background: $c-4
				position: absolute
				top: -50px
				right: -50px
				z-index: 0
	.two:nth-child(2)
		width: 39%
	.two:nth-child(3)
		width: 61%
	.two:nth-child(2), .two:nth-child(3)
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between 
		.proyectos__item:nth-child(1), .proyectos__item:nth-child(2)
			width: 50%		
		.proyectos__item:nth-child(1)
			width: 45%
			margin-bottom: auto
			margin-top: 0
			position: relative
			z-index: 1
			.proyectos__img
				padding-bottom: 88%
			&:before
				content: "" 
				display: block	
				width: 87px
				height: 80px
				background: $c-4
				position: absolute
				bottom: -20px
				left: -30px
				z-index: 0
		.proyectos__item:nth-child(2)
			width: 55%
			margin-bottom: auto
			margin-top: -50px
			.proyectos__img
				padding-bottom: 100%	
	.two:nth-child(3)
		.proyectos__item:nth-child(1)
			width: 46%
			.proyectos__img
				padding-bottom: 81%
			&:before
				display: none
		.proyectos__item:nth-child(2)
			width: 53%
			margin-top: auto
			margin-bottom: 0
			.proyectos__img
				padding-bottom: 61%
.proyectos__item
	display: inline-block
	vertical-align: top
	width: 100px
	height: auto
	padding: 12px
	position: relative
.proyectos__img
	width: 100%
	height: auto
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	position: relative
	display: block
.proyectos__hover
	width: 100%
	height: 100%
	display: flex
	overflow: hidden
	position: absolute
	top: 0
	left: 0
	filter: alpha(opacity=0)
	opacity: 0
	background: linear-gradient(to bottom, rgba(89,243,107,1) 0%, rgba(89,243,107,0.7) 0%)
	transition: all 0.3s ease-in-out
.proyectos_icon_hover
	color: #fff
	background-color: $c-1
	border-radius: 100%
	width: 60px
	height: 60px
	margin: auto
	.icon__hover
		padding: 16px
		font-size: 28px

.proyectos__img
	&:hover
		.proyectos__hover
			filter: alpha(opacity=100)
			opacity: 1

@media screen and (max-width: 1320px)
	.proyectos__items__box
		.two:nth-child(1)
			.proyectos__item:nth-child(2)
				&:before	
					width: 160px
					height: 130px
					background: $c-4
					position: absolute
					top: -30px
					right: -5px
		.two:nth-child(2)	
			.proyectos__item:nth-child(1)
				&:before
					content: "" 
					display: block	
					width: 80px
					height: 85px
					background: $c-4
					position: absolute
					bottom: -10px
					left: -5px
					z-index: 0

@media screen and (max-width: 960px)
	.proyectos__title__tabs
		h2
			font-size: 30px
	.proyectos__tabs__button
		span
			font-size: 18px
	.proyectos__title__tabs
		position: relative
		width: 100%
		text-align: center
		top: 0
		left: 0
		padding-bottom: 50px
	.proyectos__items__box
		.two:nth-child(1), .two:nth-child(2), .two:nth-child(3)
			padding-left: 0
			width: 100%
			.proyectos__item:nth-child(1), .proyectos__item:nth-child(2)
				width: 48%
				margin: auto
				.proyectos__img
					padding-bottom: 80%
		.two:nth-child(1)
			.proyectos__item:nth-child(2)
				&:before
					display: none
		.two:nth-child(2)
			.proyectos__item:nth-child(1)
				&:before
					display: none
@media screen and (max-width: 768px)
	.proyectos__tabs__container
		overflow: hidden
		position: relative
	.proyectos__item	
		height: 250px
	.proyectos__img
		height: 100%
	.proyectos__items__box
		display: initial
		flex-direction: initial
		flex-wrap: initial
		justify-content: initial
@media screen and (max-width: 340px)
	.proyectos__tabs__button
		span
			margin: 0px 10px
			font-size: 16px