.ctn__planos
	a:hover
		text-decoration: none
.ctn__planos
	width: 100%
	margin: auto
	max-width: 1240px
	padding: 0 20px 100px 20px
	position: relative
.ctn__planos__title
	text-transform: uppercase
	color: $c-9
	font-family: $t-1
	font-size: 59px
	position: absolute
	top: 160px
	left: -160px
	transform: rotate(270deg)
.ctn__planos__prin
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	padding-left: 70px
	box-sizing: border-box

.ctn__planos__inversion
	width: 40%
	position: relative
	&:before
		content: ""
		display: block
		position: absolute
		top: -50px
		right: -55px
		width: 180px
		height: 230px
		background: $c-4
.ctn__planos__inversion__bg
	position: relative
	z-index: 2
	background: $c-12
	width: 100%
	padding: 50px 10px
	box-sizing: border-box
.ctn__planos__inversion__prin
	width: 100%
	max-width: 310px
	margin: auto
	position: relative
	z-index: 2
	h3
		color: $c-2
		text-transform: uppercase
		margin: 0
		font-size: 13px
		font-family: $t-3
	h4
		color: $blanco
		font-size: 35px
		margin: 12px 0 0 0
		font-family: $t-1
.ctn__planos_inversion__room
	display: flex
	align-items: center
	margin: 27px 0 0 0
.ctn__select
	width: 66px
	height: 30px
	position: relative
	&:before
		content: "\e904"
		display: block
		position: absolute
		top: 0
		bottom: 0
		margin: auto
		right: 8px
		height: 6px
		font-family: icomoon
		font-size: 5px
		color: $blanco
	select
		width: 100%
		height: 100%
		border: 1px solid $blanco
		border-radius: 3px
		background: none
		margin: 0
		color: $blanco
		appearance: none
		padding: 0 12px
		font-family: $t-3
		font-size: 15px
	option
		background: $c-12 !important
.ctn__text
	font-size: 16px
	color: $blanco
	margin: 0 35px 0 0
	font-family: $t-2
.ctn__planos__costos
	padding: 20px 0 0 0
	margin: 20px 0 0 0
	border-top: 1px solid $blanco
	ul
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		li 
			margin: 0
			color: $blanco
			width: 48%
			&:first-child
				font-size: 16px
				font-family: $t-2
			&:last-child
				font-family: $t-3
				font-size: 24px
.ctn__planos__parraf
	font-size: 12px
	font-family: $t-2
	color: $c-0
	line-height: 15px
	width: 100%
	max-width: 410px
	margin: 33px auto 0 auto
	p 
		margin: 0
.ctn__planos__slider
	width: 47.5%
	.slick-slide img
		max-width: 100%
		height: auto
.slider__planos__prin
	width: 100%
	border: 1px solid $c-10
	display: block
.ctn__planos__slider__detaills
	font-family: $t-2
	color: $c-12
	border-top: 1px solid $c-10
	padding: 20px 45px
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
.ctn__planos__slider__detaills__sec
	h4
		margin: 0
		font-size: 18px
	p 
		margin: 4px 0 0 0
		font-size: 14px
.ctn__planos__slider__detaills__btn
	a
		color: $c-12
		font-size: 20px
		&.btn__prev
			margin-right: 15px
.ctn__respaldo
	width: 100%
	max-width: 1240px
	padding: 0 20px
	margin: 0 auto
.ctn__respaldo__top
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.ctn__respaldo__top__one
	width: 33.3333%
	margin-top: 25px
	position: relative
	z-index: 9
	figure
		padding-left: 35px
		box-sizing: border-box
	.ctn__respaldo__text
		bottom: 15px

.ctn__respaldo__top__title
	padding: 0 0 0 55px
	width: 100%
	margin-bottom: 50px
	h3
		color: $c-2
		font-size: 13px
		font-family: $t-3
		margin: 0
		text-transform: uppercase
	h4
		margin: 12px 0 0 0
		font-size: 36px
		color: $c-12
		font-family: $t-1
.ctn__respaldo__img
	width: 100%
	position: relative
	img
		max-width: 100%
		height: auto
		display: block
		margin: 0
.ctn__respaldo__text
	background: $c-2
	color: $blanco
	padding: 12px 25px
	width: auto
	position: absolute
	font-size: 16px
	font-family: $t-2
	line-height: 22px
	bottom: 0
.ctn__respaldo__top__dos
	width: 26.5%
	.ctn__respaldo__text
		right: 0
		bottom: -40px
.ctn__respaldo__top__tres
	width: 36.5%
	margin-top: 60px
	.ctn__respaldo__text
		bottom: 25px
		right: 15%
.ctn__respaldo__parraf
	padding-left: 30px
	width: 100%
	font-size: 16px
	font-family: $t-2
	color: $c-11
	line-height: 23px
	margin-top: 42px
	p 
		margin: 0
.ctn__respaldo__bottom
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin: 42px auto 0 auto
	max-width: 1080px
	width: 100%

.ctn__respaldo__top__cuatro
	width: 40%
	position: relative
	padding-left: 45px
	box-sizing: border-box
	top: -100px

	&:before
		content: ""
		position: absolute
		bottom: -20PX
		left: 0
		background: $c-4
		height: 230px
		width: 215px
.ctn__respaldo__cuatro__bloque
	background: $c-12
	padding: 45px 0 35px 50px
	width: 100%
	color: $blanco
	position: relative
	z-index: 2
	.icon-logo-lider
		color: $blanco
		font-size: 45px

.ctn__detaiils__bloque__white
	color: $blanco	
	font-size: 36px
	font-family: $t-1
	line-height: 40px
.ctn__detaiils__bloque
	padding: 30px
	&:last-child
		padding-bottom: 0
		border-top: 1px solid $blanco
.ctn__detaiils__bloque__orange
	color: $c-2
	font-family:  $t-2
	font-size: 20px
	line-height: 24px

.ctn__respaldo__top__cinco
	width: 58.5%
	.ctn__respaldo__text
		right: 0
		bottom: 45px
@media screen and (max-width: 1024px)
	.ctn__planos__prin
		padding-left: 0
	.ctn__planos__title
		display: none
	.slider__planos .slick-slide
		padding: 1px
	.ctn__planos
		padding-bottom: 50px
@media screen and (max-width: 768px)
	.ctn__planos__inversion
		width: 100%
		max-width: 452px
		margin: auto
		&:before
			display: none
	.ctn__planos__slider
		width: 100%
		max-width: 532px
		margin: 30px auto 0 auto
	.ctn__respaldo__top__one
		width: 47.5%
		figure
			padding-left: 20px
	.ctn__respaldo__top__dos
		width: 47.5%
	.ctn__respaldo__top__tres
		width: 100%
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		.ctn__respaldo__img
			width: 47.5%
			max-width: 340px
		.ctn__respaldo__parraf
			width: 47.5%
			margin-top: 0
			padding-left: 0
			font-size: 14px
		.ctn__respaldo__text
			right: 20px
	.ctn__respaldo__top__cuatro
		width: 100%
		max-width: 452px
		margin: auto
		top: 0
		padding-left: 0
		&:before
			display: none
	.ctn__respaldo__cuatro__bloque
		padding-left: 15px
		padding-right: 15px
	.ctn__respaldo__top__cinco
		width: 100%
		margin: auto
		margin-top: 30px
		max-width: 560px
	.ctn__respaldo__top__title
		padding-left: 0
	.ctn__respaldo__top__title 
		h4
			font-size: 30px
@media screen and (max-width: 640px)
	.ctn__respaldo
		padding: 0 15px
	.ctn__respaldo__top__tres
		.ctn__respaldo__img, .ctn__respaldo__parraf
			width: 100%
		.ctn__respaldo__img
			max-width: 340px
			margin: auto
		.ctn__respaldo__parraf
			margin-top: 20px
	.ctn__respaldo__top__cinco
		.ctn__respaldo__img
			padding-right: 15px
	.ctn__respaldo__bottom
		margin-top: 25px
	.ctn__planos
		padding-right: 15px
		padding-left: 15px
		padding-bottom: 30px
	.ctn__respaldo__cuatro__bloque
		padding-top: 30px
		padding-bottom: 30px
@media screen and (max-width: 480px)
	.ctn__respaldo__top__one
		width: 100%
		margin-top: 0
		.ctn__respaldo__img
			max-width: 363px
			margin: auto
	.ctn__respaldo__top__dos
		margin-top: 30px
		width: 100%
		.ctn__respaldo__img
			max-width: 315px
			margin: auto
	.ctn__respaldo__top__title 
		margin-bottom: 30px
		h4
			font-size: 25px
	.ctn__detaiils__bloque__white
		font-size: 25px
	.ctn__detaiils__bloque
		padding: 15px 10px
	.ctn__planos__inversion__prin h4
		font-size: 25px
	.ctn__planos__inversion__bg
		padding-top: 20px 
		padding-bottom: 20px
	.ctn__planos__costos ul li
		width: 100%
		&:last-child
			font-size: 20px
	.ctn__respaldo__top__tres
		.ctn__respaldo__parraf
			font-size: 12px
			line-height: 17px
@media screen and (max-width: 360px)
	.ctn__respaldo__top__title 
		h4
			font-size: 18px
	.ctn__respaldo__top__dos
		.ctn__respaldo__img
			padding-right: 15px