// FONTS
// -----

@font-face
	font-family: 'OpenSans-Light'
	src: url('../fonts/OpenSans-Light.eot')
	src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff2') format('woff2'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg')
	font-weight: 300
	font-style: normal

@font-face
	font-family: 'MavenPro-Regular'
	src: url('../fonts/MavenProRegular.eot')
	src: url('../fonts/MavenProRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/MavenProRegular.woff2') format('woff2'), url('../fonts/MavenProRegular.woff') format('woff'), url('../fonts/MavenProRegular.ttf') format('truetype'), url('../fonts/MavenProRegular.svg#MavenProRegular') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Montserrat-Regular'
	src: url('../fonts/Montserrat-Regular.eot')
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'ProximaNova-Regular'
	src: url('../fonts/ProximaNova-Regular.eot')
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Montserrat-Light'
	src: url('../fonts/Montserrat-Light.eot')
	src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Light.woff2') format('woff2'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg')
	font-weight: 300
	font-style: normal

@font-face
	font-family: 'Montserrat-Black'
	src: url('../fonts/Montserrat-Black.eot')
	src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Black.woff2') format('woff2'), url('../fonts/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black.ttf') format('truetype'), url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg')
	font-weight: 900
	font-style: normal

@font-face
	font-family: 'ProximaNova-Semibold'
	src: url('../fonts/ProximaNova-Semibold.eot')
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Semibold.woff2') format('woff2'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg')
	font-weight: 600
	font-style: normal

@font-face
	font-family: 'ITCFranklinGothicStd-Book'
	src: url('../fonts/ITCFranklinGothicStd-Book.eot')
	src: url('../fonts/ITCFranklinGothicStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCFranklinGothicStd-Book.woff2') format('woff2'), url('../fonts/ITCFranklinGothicStd-Book.woff') format('woff'), url('../fonts/ITCFranklinGothicStd-Book.ttf') format('truetype'), url('../fonts/ITCFranklinGothicStd-Book.svg#ITCFranklinGothicStd-Book') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Montserrat-Bold'
	src: url('../fonts/Montserrat-Bold.eot')
	src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'ITCFranklinGothicStd-Demi'
	src: url('../fonts/ITCFranklinGothicStd-Med.eot')
	src: url('../fonts/ITCFranklinGothicStd-Med.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCFranklinGothicStd-Med.woff2') format('woff2'), url('../fonts/ITCFranklinGothicStd-Med.woff') format('woff'), url('../fonts/ITCFranklinGothicStd-Med.ttf') format('truetype'), url('../fonts/ITCFranklinGothicStd-Med.svg#ITCFranklinGothicStd-Med') format('svg')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'Montserrat-ExtraLight'
	src: url('../fonts/Montserrat-ExtraLight.eot')
	src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'), url('../fonts/Montserrat-ExtraLight.woff') format('woff'), url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg')
	font-weight: 200
	font-style: normal

@font-face
	font-family: 'BodoniStd-PosterItalic'
	src: url('../fonts/BodoniStd-PosterItalic.eot')
	src: url('../fonts/BodoniStd-PosterItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/BodoniStd-PosterItalic.woff2') format('woff2'), url('../fonts/BodoniStd-PosterItalic.woff') format('woff'), url('../fonts/BodoniStd-PosterItalic.ttf') format('truetype'), url('../fonts/BodoniStd-PosterItalic.svg#BodoniStd-PosterItalic') format('svg')
	font-weight: normal
	font-style: italic
